<div class="exploreContainer tabContainer">
	<header class="exploreTypeContainer">
		<nav class="exploreType tabBarSelector">
			<a class="selected ">晒女神</a>
			<a>黑兄弟</a>
			<a>关注</a>
		</nav>
		<button class="selectBtn">筛选</button>
	</header>													
	<ul class="exploreListContainer tabContentContainer">
		<li class="shareGoddess exploreList">
			
		</li>
		
		<li class="shareBrother exploreList">
			
		</li>
		
		<li class="shareFaned exploreList">
			
		</li>
	</ul>
</div>
<aside>
	<i></i>
	<ul>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</aside>